@import "spectre.css"

body
  background: #efefef
  font-family: "Helvetica Neue", sans-serif
  font-size: 1.3rem
    
h2
  font-size: 2rem
  padding-bottom: 4px
  border-bottom: #eee 1px solid

textarea.form-input
  color: #aaa
  font-size: 1.1rem
  line-height: 1.5

.columns
  margin: 5px 0
  background: #fff

.barchart
  margin-left: 65px

.tone-name
  display: inline-block
  width: 110px
  padding-right: 10px
  position: relative
  top: -6px // hack to fix alignment

.tone-bar
  display: inline-block
  width: 100px
  padding-right: 10px

.tone-score
  display: inline-block
  position: relative;
  top: -6px // hack to fix alignment
